header {
  background-color: rgba(255, 255, 255);
}

.header__container {
  height: 5.938rem;
  width: 100vw;
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 2.5rem;
}

.logo {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 2.5rem;
}

li {
  height: 1rem;
  padding-top: 0.3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #121212;
  list-style: none;
}

.profile__container {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}
